@import 'tailwindcss';

*::-webkit-scrollbar {
  width: 0px;
}

.animation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox::before {
  content: "✓";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  color: black;
  transform: scale(0);
}

.checkbox:checked::before {
  transform: scale(1);
  background-color: white;
}